doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools
  include ../style.pug

  body
    #root
      div(style='display: flex; justify-content: center; align-items: center')
        img(
          src='/img/loading.svg',
          height=300, width=350,
        )
    link(href='/devpanel.bundle.css', rel='stylesheet')
    script(src='/devpanel.bundle.js')
