doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools
  include ../style.pug

  body
    #root
      div(style='position: relative')
        img(
          src='/img/loading.svg',
          height=300, width=350,
          style='position: absolute; top: 50%; left: 50%; margin-top: -150px; margin-left: -175px;'
        )
    link(href='/devpanel.bundle.css', rel='stylesheet')
    script(src='/devpanel.bundle.js')
