*.log
.idea
lib
dist
umd
build
coverage
node_modules
__snapshots__

packages/redux-devtools/index.d.ts
packages/react-json-tree/examples
packages/react-json-tree/test
packages/react-json-tree/webpack.config.umd.ts
