{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "globals": {
    "chrome": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "eol-last": ["warn"],
    "max-len": ["warn", { "code": 120, "ignoreComments": true }],
    "quotes": ["warn", "single", "avoid-escape"],
    "jsx-quotes": ["warn", "prefer-double"],
    "react/prop-types": 0,
    "prettier/prettier": "error"
  },
  "plugins": ["prettier", "react", "babel"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
