doctype html

html
  head
    meta(charset='UTF-8')
  title RemoteDev
  include ../style.pug

  body
    #root
    link(href='/remote.bundle.css', rel='stylesheet')
    script(src='/remote.bundle.js')
