doctype html

html
  head
    meta(charset='UTF-8')
  title Redux DevTools
  include ./includes/style.pug
  style.
    body {
      min-height: 100px;
    }

  body
    #root
    script(src='/js/devpanel.bundle.js')
