name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: 'ubuntu-24.04'

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm run format:check
      - name: Build
        run: pnpm run build:all
      - name: Lint
        run: pnpm run lint:all
      - name: Test
        uses: coactions/setup-xvfb@v1
        with:
          run: pnpm run test:all
